node_modules/
dist/
.DS_Store
.env
product
xhome_workspace/
src/data/test_entities.json
security/
geekof_automation/
test/task_alt/baseline.json
SERP4IoT_demo_plan.md
SERP4IoT_presentation_outline.md
SERP4IoT_talk_notes.md
test/test_raw_demo/
test/test_xhome_demo/1_xhome_demo_entrance_evening_scene.yaml
test/test_xhome_demo/2_xhome_demo_entrance_mood_lamp.yaml
